body {
  font-family: Arial;
  margin: 0;
  background: #f4f7f6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px;
}

.navbar nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

.search {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px;
}

.hero button {
  padding: 10px 20px;
  border: none;
  background: #1abc9c;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 30px;
  border-radius: 15px;
  color: white;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  width: 200px;
  text-align: center;
}

.green {
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.blue {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

/* FEATURED */
.featured {
  padding: 20px;
}

.project-grid {
  display: flex;
  gap: 20px;
}

.project {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}
